<div class="container col-6 align-items-center justify-content-center p-3">
  <form [formGroup]="searchForm">
    <div class="input-group">
      <input
        type="text"
        class="form-control"
        placeholder="What do you want to listen to?"
        aria-label="What do you want to listen to?"
        aria-describedby="button-addon2"
        formControlName="searchedSong"
        (keyup)="onChange($event)"
      />
      <button
        class="btn btn-outline-secondary p-0"
        type="button"
        id="button-addon2"
        (click)="callForSearch()"
        [disabled]="!searchForm.valid"
      >
        <i class="bi bi-search"></i>
      </button>
    </div>
  </form>
</div>

<app-cover
  [mainArtist]="mainArtist"
  [apiSuccess]="isAPISuccess"
  *ngIf="isSearchActive"
></app-cover>
<app-top-tracks
  [mainArtistTopTracks]="mainArtistTopTracks"
  *ngIf="isSearchActive"
></app-top-tracks>

<div *ngIf="!isSearchActive">
  <p class="fs-3 fw-bold mx-3 mt-4">Searched Artists</p>
  <div class="p-3">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Followers</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let searchedArtist of searchedTracks?.artists.items;
            index as i
          "
          class="align-middle"
          style="cursor: pointer"
          (click)="changeCover(searchedArtist.id)"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <img
              src="{{
                searchedArtist.images.length
                  ? searchedArtist?.images[0].url
                  : '../../../../../assets/default-artist.png'
              }}"
              alt="album image"
              class="d-flex song-img"
            />
          </td>
          <td>{{ searchedArtist.name }}</td>
          <td>
            {{ searchedArtist.followers.total | number }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p class="fs-3 fw-bold mx-3 mt-4">Searched Tracks</p>
  <div class="p-3">
    <table class="table table-hover table-borderless">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col">Title</th>
          <th scope="col">Playing</th>
          <th scope="col">Release Date</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let searchedTrack of searchedTracks?.tracks.items; index as i"
          class="align-middle"
          style="cursor: pointer"
          (click)="selectTrack(searchedTrack.id)"
        >
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <img
              src="{{
                searchedTrack.album.images.length
                  ? searchedTrack.album.images[0].url
                  : '../../../../../assets/default-artist.png'
              }}"
              alt="album image"
              class="d-flex song-img"
            />
          </td>
          <td>{{ searchedTrack.name }}</td>
          <td>
            {{ searchedTrack.duration_ms | date : "m:ss" }}
          </td>
          <td>{{ searchedTrack.album.release_date.slice(0, 4) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-6 py-3 mx-auto" *ngIf="selectedTrack">
  <iframe
    style="border-radius: 12px"
    [src]="iframeUrl()"
    width="100%"
    height="152"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
</div>
