.form-control {
    border-radius: 1.5rem !important;
    background-color: #fafafa;
}

#button-addon2 {
    width: 37.6px;
    height: 37.6px;
    border-radius: 50%;
    border: 0;
    position: relative;
    right: 37.6px;
    z-index: 100;
}
