<div class="container w-75 align-items-center justify-content-center p-3">
  <div class="input-group">
    <input
      type="text"
      class="form-control"
      placeholder="What do you want to listen to?"
      aria-label="What do you want to listen to?"
      aria-describedby="button-addon2"
    />
    <button
      class="btn btn-outline-secondary p-0"
      type="button"
      id="button-addon2"
    >
      <i class="bi bi-search"></i>
    </button>
  </div>
</div>

<section class="d-flex justify-content-center align-items-center">
  <div class="col-10 col-md-6 col-lg-8 gradient-background cover d-flex justify-content-around">
    
      <div class="d-flex align-self-end">
        <img class="cover-img " src="{{ mainArtist?.images[0].url }}" alt="" srcset="" />
      </div>
      <div class="row d-inline mt-4">
        <h1 class=" fw-bold " style="color: whitesmoke;">{{ mainArtist?.name }}</h1>
        <p class="" style="color: whitesmoke;">{{mainArtist?.followers.total}} followers</p>
        <ul class="genres col-6 ">
          <li *ngFor="let item of mainArtist?.genres" style="list-style: none; " class="w-50 mb-2">
            <span class="badge rounded-pill bg-light text-dark mx-2">{{item}}</span>
          </li>
        </ul>
        
        
      </div>
    
  </div>
</section>

<p class="fs-3 fw-bold mx-3 mt-4">Popular</p>
<table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" ></th>
        <th scope="col">Title</th>
        <th scope="col">Playing</th>
        <th scope="col">Album</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let topTrack of  mainArtistTopTracks?.tracks.slice(0,5); index as i" >
        <th scope="row">{{ i+1 }}</th>
        <td><img src="{{ topTrack.album.images[0].url }}" alt="album image" class="d-flex song-img" ></td>
        <td>{{ topTrack.name }}</td>
        <td>{{ (topTrack.duration_ms / 60000 )| number : '1.0-0'}}.{{ (topTrack.duration_ms % 60000) }}</td>
        <td >{{ topTrack.album.release_date.slice(0,4)}}</td>
      </tr>
    </tbody>
  </table>