<p class="fs-3 fw-bold mx-3 mt-4">Popular</p>
<div class="p-3">
  <table class="table table-hover table-borderless">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col"></th>
        <th scope="col">Title</th>
        <th scope="col">Playing</th>
        <th scope="col">Release Date</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="
          let topTrack of mainArtistTopTracks?.tracks.slice(0, 5);
          index as i
        "
        class="align-middle"
        style="cursor: pointer"
        (click)="selectTrack(topTrack.id)"
      >
        <th scope="row">{{ i + 1 }}</th>
        <td>
          <img
            src="{{ topTrack.album.images[0].url }}"
            alt="album image"
            class="d-flex song-img"
          />
        </td>
        <td>{{ topTrack.name }}</td>
        <td>
          {{ topTrack.duration_ms | date : "m:ss" }}
        </td>
        <td>{{ topTrack.album.release_date.slice(0, 4) }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-6 py-3 mx-auto" *ngIf="selectedTrack">
    <iframe
      style="border-radius: 12px"
      [src]="iframeUrl()"
      width="100%"
      height="152"
      frameBorder="0"
      allowfullscreen=""
      allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
      loading="lazy"
    ></iframe>
  </div>